.c {overflow-y: auto;
	z-index: 100;
	max-height: 150px;
}

.cssss{
	height: 64vh;
}
.nosaukums{
	height: 6.2rem;
}
.scroll3{
	height:74vh
}
.scroll2{
	height: 53.5vh;
	overflow-y: hidden;
}
.cx {
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: thin;
}
.cxx {
	overflow-y: hidden;
	
	scrollbar-width: thin;
}
.whel{
	width:400px
}
.whels{
	width: 405px;
}
.dddd{
	height: 20vh;
}

.ddd{
	height: 60vh;
}

.profile{
	height:13rem;
}
.theme{
	min-width: 400px;
}